# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Django
# -----------------------------
db.sqlite3
media/
staticfiles/

# Local settings (if any)
local_settings.py

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Logs
# -----------------------------
*.log
logs/
celerylogs/
pymodbusLogs/

# -----------------------------
# Celery
# -----------------------------
celerybeat-schedule

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Python Packaging
# -----------------------------
*.egg-info/
build/
dist/
.eggs/
pip-wheel-metadata/

# -----------------------------
# Testing
# -----------------------------
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Git
# -----------------------------
*.swp
*.swo